<appSettings>
  <add key="DefaultIndex" value="md_xpath" />
  <add key="Host" value="http://d69e484ce622e0f735b3af79e820d1ae.us-east-1.aws.found.io:9200/" />
  <add key="UserName" value="md5_reader" />
  <add key="Password" value="Fynbkjgf777" />
  <add key="ExternalToken" value="4A34041A-7D5D-48DA-B1E6-7FF2C3E75ABF" />

  <add key="DaysBeforeUpdate" value="1"/>
  <add key="UpdatePacketSize" value="100"/>
</appSettings>