<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DefaultIndex" value="md5" />
    <add key="Host" value="http://d69e484ce622e0f735b3af79e820d1ae.us-east-1.aws.found.io:9200/" />
    <add key="UserName" value="elastic" />
    <add key="Password" value="QJiIN6X3FOEnRWCZEnrRtFQd" />
  </appSettings>
</configuration>