<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ExternalToken" value="4A34041A-7D5D-48DA-B1E6-7FF2C3E75ABF" />
    <add key="BaseApi" value="http://localhost:52620/"/>
    <!-- 
    <add key="BaseApi" value="http://localhost:52620/"/>
    <add key="BaseApi" value="http://109.235.214.206:52620/"/>
    -->
  </appSettings>  
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>